.member-card{
    padding: 50px 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #0005;
    color: #fff;
    background: #fff2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.member-card .icon {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: #a9d30330;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform: rotate(-20deg);
}
.member-card .list{
    color: lightgray;
}