.myHero{
    background: linear-gradient(60deg, #000000f8 , #000000c9), url('../../assets/img/hero.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.side-text{
    color: transparent;
    -webkit-text-stroke: 1px #a9d3035b;
    font-weight: 900;
    letter-spacing: 8px;
}